body{
    background-color: rgb(255, 228, 181);
}
header{
    background-color: rgb(255, 218, 185);
    position:relative;
    width:100%;
    height:70px;
    text-align: center
}
.head{
    background-color: rgb(255, 218, 185);
    font-style: italic;
    font-size: 200%;
}
.subtitle{
    font-size: 100%;
}
.navigation{
    word-spacing: 20px;
    font-style: italic;
    text-align: center;
    font-size: 120%;
}
.active{
    font: bold 150% serif;
    color: rgb(0,0,0);
}
.passive{
    word-spacing: normal;
    color: rgb(0,0,0);
}